<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Widgets</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.8/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.9/css/AdminLTE.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.9/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style>
  .direct-chat-messages {height: 500px;}
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-5">
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Direct Chat</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="direct-chat-messages" id="chatDiv"></div>
            </div>
            <div class="box-footer">
	          <form id="frm" onsubmit="return false;">
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                  <span class="input-group-btn">
                    <button type="button" id="sendBtn" class="btn btn-primary btn-flat">Send</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.9/js/adminlte.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.9/js/demo.js"></script>
<script>
$(document).ready(function(){
	var chatProc = function(){
		var msg = $("input[name=message]").val();
		if(msg!="") {
			var strDate = new Date().toISOString().substr(0,19).replace('T', ' ');
			var strMsg = "";
			strMsg += '<div class="direct-chat-msg">';
			strMsg += '	<div class="direct-chat-info clearfix">';
			strMsg += '		<span class="direct-chat-name pull-left">Me</span>';
			strMsg += '		<span class="direct-chat-timestamp pull-right">'+strDate+'</span>';
			strMsg += '	</div>';
			strMsg += '	<img class="direct-chat-img" src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.9/img/user1-128x128.jpg" alt="Message User Image">';
			strMsg += '	<div class="direct-chat-text">'+msg+'</div>';
			strMsg += '</div>';
			$("#chatDiv").append(strMsg);
			
			$.ajax({
				url: "/replyMsg",
				type: "post",
				data: $("#frm").serialize(),
				success: function(data){
					var strReMsg = "";
					strReMsg += '<div class="direct-chat-msg right">';
					strReMsg += '	<div class="direct-chat-info clearfix">';
					strReMsg += '		<span class="direct-chat-name pull-right">AI-BOT</span>';
					strReMsg += '		<span class="direct-chat-timestamp pull-left">'+strDate+'</span>';
					strReMsg += '	</div>';
					strReMsg += '	<img class="direct-chat-img" src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.9/img/user3-128x128.jpg" alt="Message User Image">';
					strReMsg += '	<div class="direct-chat-text">'+data+'</div>';
					strReMsg += '</div>';
					$("#chatDiv").append(strReMsg);
					$("#chatDiv").scrollTop($("#chatDiv")[0].scrollHeight);
					$("input[name=message]").val("");
				}
			});
		}
	};
	
	$("#sendBtn").click(function(){
		chatProc();
	});
	
	$("input[name=message]").keypress(function(e){
		if(e.keyCode==13) chatProc();
	});
});
</script>
</body>
</html>
